[{
  "name": "${container_name}",
  "image": "${image}",
  "networkMode": "awsvpc",

  "environment": [
    {
      "name": "ENV",
      "value": "${environment}"
    },
    {
      "name": "PORT",
      "value": "${container_port}"
    },
    {
      "name": "LOG_LEVEL",
      "value": "${log_level}"
    },
     {
      "name": "BUCKET",
      "value": "${data_bucket}"
    },
    {
      "name": "REDIS_ENDPOINT",
      "value": "${redis_endpoint}"
    },
    {
      "name" : "S3_ACCESS_KEY_ID",
      "value" : "${s3_access_key_id}"
    },
    {
      "name" : "S3_SECRET_ACCESS_KEY",
      "value" : "${s3_secret_access_key}"
    },
    {
      "name" : "S3_BUCKET",
      "value" : "${s3_bucket}"
    }
  ],
  "secrets": [
    {
      "name": "DB_SECRET",
      "valueFrom": "${db_secret_arn}"
    }
  ],
  "portMappings": [
    {
      "containerPort": ${container_port},
      "hostPort": ${container_port}
    }
  ],
  "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${container_name}"
       }
  }
}]
